<!DOCTYPE html>
<html lang="en" ng-app="LegoBuilder">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>LEGO Template builder</title>
	<!--  Stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/animate.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/color.css">
	<link rel="stylesheet" type="text/css" href="css/simpletextrotator.css">
	<link rel="stylesheet" type="text/css" href="css/javascript.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">
	<link rel="stylesheet" type="text/css" href="css/toedit.css">
	<link rel="stylesheet" type="text/css" href="css/lego-builder.css">
	<!-- Mobile Devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- GOOGLE FONTS -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body class="home home-t-h body" ng-controller="BaseCtrl">
	<!-- *********************
		INTRO
	********************** -->
	<section class="full-height no-pd section-area align-center" id="intro">
		<div class="intro-content-left">
			<div class="intro-text">
				<div class="intro-wrap align-center container">
					<h1 class="intro-huge-title black upper wow fadeInDown content-editable" data-wow-duration=".8s" data-wow-delay=".8s" contentEditable>{{components.h1model}}</h1>
					<span class="intro-sub-title black wow fadeInUp content-editable" data-wow-duration=".8s" data-wow-delay="1s" contentEditable >{{components.span1model}}</span>
					<span class="intro-sub-title black wow fadeInUp content-editable" data-wow-duration=".8s" data-wow-delay="1s" contentEditable>{{components.span1model}}</span>
					<a href="">
						<span class="m-btn m-btn-default m-btn-large m-btn-radius wow fadeInUp content-editable" data-wow-duration="1.2s" data-wow-delay=".8s" contentEditable>{{components.span2model}}</span>
					</a>															
				</div>
			</div>
		</div>
		<span class="scroll-icon">i</span>
	</section>
	<!-- *********************
		SIDEBAR BUILDER
	********************** -->
	<aside class="lb-sidebar">
		<h1 class="logo"><a href="">Lego builder</a></h1>
		<ul class="lb-sidebar-nav">
			<li class="active"><a href=""><i class="icon-docs"></i></a></li>
			<li><a href=""><i class="icon-lab"></i></a></li>
			<li><a href=""><i class="icon-pen2"></i></a></li>
			<li><a href=""><i class="icon-params"></i></a></li>
		</ul>
	</aside>
	<div class="lb-sidebar-sub">
		<h3 class="lb-sidebar-title">Lego Pages</h3>
		<table class="table pages-list">
			<tr>
				<td><input type="checkbox"></td>
				<td>index</td>
				<td class="action align-right">
					<a href="" class="icon-download"></a> &nbsp;
					<a href="" class="icon-pen2"></a> &nbsp;
					<a href="" class="icon-cross"></a>
				</td>
			</tr>
			<tr>
				<td><input type="checkbox"></td>
				<td>about</td>
				<td class="action align-right">
					<a href="" class="icon-download"></a> &nbsp;
					<a href="" class="icon-pen2"></a> &nbsp;
					<a href="" class="icon-cross"></a>
				</td>
			</tr>
		</table>
		<div class="spacer"></div>
		<div class="align-center">
			<button class="btn btn-medium btn-radius btn-shadow" >save page as</button>
		</div>
		<div class="export-files">
			<button class="btn btn-large btn-shadow btn-gradient" ng-click="saveFiles()">Export Files</button>
		</div>
	</div>
	<!-- Javascript -->
	<script type="text/javascript" src="js/jquery-1.11.2.js"></script>
	<script type="text/javascript" src="js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
	<script type="text/javascript" src="js/jquery.scrollto-1.4.3.1.js"></script>
	<script type="text/javascript" src="js/jquery.localscroll-1.2.7.js"></script>
	<script type="text/javascript" src="js/jquery.isotope.js"></script>
	<script type="text/javascript" src="js/jquery.masonry.min.js"></script>
	<script type="text/javascript" src="js/owl.carousel.js"></script>
	<script type="text/javascript" src="js/jquery.countTo.js"></script>
	<script type="text/javascript" src="js/wow.js"></script>
	<script type="text/javascript" src="js/tabby.min.js"></script>
	<script type="text/javascript" src="js/tweetie.min.js"></script>
	<script type="text/javascript" src="js/instafeed.min.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.js"></script>
	<script type="text/javascript" src="js/jquery.simple-text-rotator.js"></script>
	<script type="text/javascript" src="js/jquery.smoothscroll.js"></script>
	<script type="text/javascript" src="js/validator.min.js"></script>
	<!-- functions javascript -->
	<script type="text/javascript" src="js/functions.js"></script>
	<script type="text/javascript" src="js/jquery.builder.js"></script>
	<!-- legobuilder app -->
	<script type="text/javascript" src="js/bower_components/file-saver/FileSaver.js"></script>
	<script type="text/javascript" src="js/bower_components/jszip/dist/jszip-utils.js"></script>
	<script type="text/javascript" src="js/bower_components/jszip/dist/jszip.js"></script>
	<script type="text/javascript" src="js/bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="legobuilder/app.js"></script>
	<script type="text/javascript" src="legobuilder/controllers/baseController.js"></script>
	
</body>

</html>